
* {
  margin: 0
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
  padding: .5rem;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
  margin: 1rem;
}

main {
  max-width: 840px;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 50px;
  left: 150px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

footer  {
  margin-top: 15px;
  border-top: 1px solid black;
  text-align: center;
}

/* class selctors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: gray;
  color: black;
}
.indent {
  padding-left: 2rem;
}














